.custom-button {
  background: none; /* Elimina el fondo del botón */
  border: none; /* Elimina el borde del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  padding: 0; /* Sin padding para mantener el tamaño exacto */
  outline: none; /* Elimina el borde que aparece al hacer clic o enfocar */
}

.custom-button img {
  width: 200px; /* Ajusta el ancho de la imagen según sea necesario */
  height: 50px; /* Ajusta la altura de la imagen según sea necesario */
}

.custom-button:hover {
  filter: brightness(1.2); /* Añade un efecto al pasar el cursor */
  transition: filter 0.3s ease-in-out; /* Suaviza la transición al hover */
}

.custom-button:focus {
  outline: none; /* Asegúrate de que el borde no aparezca al enfocar */
}

.custom-button:active {
  outline: none; /* Elimina el borde que aparece al hacer clic */
}